<%inherit file="base_template.htm" />


<%block name="header">
	
</%block>
<%block name="content">
<div class = 'col-md-5'>
	<h1>Fitness Groups</h1>
</div>
<div class = 'col-md-5'>
</div>
<div class = 'col-md-2'>
	<a class='btn btn-primary' href='/member/userGroup'>Back to group</a>
</div>
%if userWeights:
	<div class="col-md-12">
		<table class= "table table-striped table-hover">
				<thead>
					<tr>
						<th>Member Name</th>
						<th> Weight Lost</th>
					</tr>
				</thead>
				<tbody>
					%for f, q in zip(members, userWeights):
						<tr>
							<td>${f}</a></td>
							<td>${q}</a></td>				
						</tr>
					%endfor
				</tbody>
		</table>
	</div>
%else:
	<h1>Looks like nobody else has joined the group yet.  Enter your friends emails to get the group started!</h1>
	<form class="navbar-form navbar-left" role="search" action="/homePage/search/">
	    <div class="form-group">
	      <input type="text" class="form-control" name = "search" placeholder="Email address">
	    </div>
	    <button type="submit" class="btn btn-default">Invite</button>
	</form>
%endif
</%block>

<%block name="footer">

</%block>