<!DOCTYPE html>
<%inherit file="base.htm" />
<%block name="content">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center amber-text">Assyrian Project</h1>
      <div class="row center">
        <h5 class="header col s12 light">The Assyrian Project was formed to index over 10,000 ancient Assyrian tablets.  Cuneiform tablets were written using clay and a stylus.  Although not as efficient as modern day tablets, the documents preserved extremely well and contained important data - mostly business information from transactions between wealthy mercants. Tablets were hard to make, and so the whole tablet was utilized for writing - even the sides! </h5>
      </div>
      <div class="row center">
        <a class="btn-large waves-effect waves-light amber modal-trigger" href="#modal2" >Get Started</a>
      </div>
      <br><br>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="large material-icons">broken_image</i></h2>
            <h5 class="center">Seperate image based on lines</h5>

            <p class="light">The first step to indexing the tablets is to seperate the images into lines.  Much like regular lined paper, Assyrians divided their tablets into lines to segement their writing.  Knowing which characters are in which line helps with indexing processes so that the text can be transliterated into a readable form.  </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="large material-icons">crop</i></h2>
            <h5 class="center">Crop Characters</h5>

            <p class="light">Identifying hotspots is the first step for understanding these ancient documents.  Writing with a stylus on clay is much like handwriting - each person has their unique way of forming the characters, and because the characters are not uniform, a computer has a difficulty trying to determine which character is which character.  That is where human intervention is so helpful. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="large material-icons">select_all</i></h2>
            <h5 class="center">Match the Character with its symbol</h5>

            <p class="light">With each character identified, it has to be linked to its symbol in the Assyrian alphabet.  Since the number of people that can read Assyrian in the world is limited to a handful of people, we simplified the transliteration.  Identifying the characters is as simple as a matching game!</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Copywrite 2015 by Edward Stratford and Benjamin Mackley</h5>
          <p class="grey-text text-lighten-4">Images used curteousy of EDLF.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../bin/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
</%block>
