<%inherit file="base.htm" />

<%block name="content">

    <div class="container">
        <center>
        <div class="card indigo">
            <div class="card-content white-text">
                <span class="card-title">Login</span>
                <span class="white-text">
                <form method="POST" action = "/homePage/hotspots">
                  ${ form }
                  <button class="btn waves-effect waves-light grey darken-1" type="submit" value ="submit"name="action">Submit
                  </button> 
                </form>
                </span>
            </div>
        </div>
        </center>
    </div>
</%block>

