 <%inherit file="base.htm" />
<%block name="content">
<center><h1>How to Identify Hotspots</h1>
   <div class = "row">
  <!-- Block to Show Animation -->
    <div class="col s6 m4 offset-m1 l3 offset-l2">
      <div id="animate">
        <div class="card medium">
            <div class="card-image">
              <img id = "animate_img" src ="/static/homePage/images/Tutorial_character.jpeg" > 
            </div>
            <div class="card-content">
              The most important part is creating the hotspots for each character. 
            </div>
            <div class="card-action">
               <a class="animate waves-effect waves-teal btn-flat">Animate</a>
            </div>
        </div>
      </div>
      <div id ="animate_box">
      </div>
    </div>
  <!-- User test block -->
    <div class="col s6 m4 offset-m2 l3 offset-l2">
        <div class="card medium">
          <div class="card-image">
            <div id="hb-map-wrap">
              <img id="Tablet1" src ="/static/homePage/images/Tutorial_character.jpeg" > 
            </div>
          </div>
          <div class="card-content">
            Try it out! Click and drag the mouse to create a hotspot that covers the whole character.  
          </div>
          <div id ="check_hotspot" class="card-action">
            <a href="#">Check Hotspot</a>
          </div>
      </div>
  </div>
 

<div id="modal_continue" class="modal">
    <div class="modal-content">
      <p>Great! Time to move on to the last step!  </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Let&#8217;s Go!</a>
    </div>
  </div>





<script src="/static/homePage/js/lib/jquery.min.js"></script>
<script src="/static/homePage/js/lib/colorpicker.js"></script>
<script src="/static/homePage/js/hotspot-map-editor.js"></script>
<script src="/static/homePage/js/hotspot-map.min.js"></script>
<script src="/static/homePage/js/tutorial.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="/static/base_app/styles/plugins/bootstrap/js/bootstrap.js">

</%block>